.card1 {
    width: 520px;
    height: 300px;
    margin-bottom: 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);  
  }

  .card1__link {
    text-decoration: none;
  }
  
  .card1__img {
    width: 520px;
    height: 300px;
    object-fit: cover;
  }
  
  .card1__content {
    height: 120px;
    color: #707070;
  }
  .card1__title {
    text-align: center;
    font-size: 24px;
    margin: 18px 0;
  }
  
  .card1__lead {
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
  }